node_modules
dist
build
.turbo
.output
.cache

.env
.env.local
.env.*.local

*.log
*.tsbuildinfo

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

coverage
.nyc_output

bun.lockb
